<header>
  <a class="skipnav" href="#main-content">Skip to main content</a>

  <div class="ood-banner">
    <div class="usa-grid">
      <h1>Hey Sacramento, it's National Day of Civic Hacking 2016!</h1>
      <p class="usa-font-lead">Let's build something amazing together.</p>
      <p class="ood-description">Sacramento is an economically and culturally diverse city that can also lay claim to being the most integrated city in the country. Residents from all walks of life live and work in close proximity to each other and share, to a certain extent, the ups and downs of the city together. However, Sacramento’s integration, including its economic integration, is far from complete. While the city’s fortunes have risen in recent years, the benefits of this rise have not permeated every community.</p>
    </div>
  </div>

  <div class="ood-nav-spacer"></div>

  <div class="usa-grid ood-nav">
    <div class="usa-width-one-third">
      <a href="#connect">
        <i class="fa fa-connectdevelop ood-first"></i>
        <h2>Challenges</h2>
        <p>Rise to the occasion.</p>
      </a>
    </div>

    <div class="usa-width-one-third ood-middle">
      <a href="#build">
        <i class="fa fa-code"></i>
        <h2>Resources</h2>
        <p>Use data to improve lives.</p>
      </a>
    </div>

    <div class="usa-width-one-third">
      <a href="#learn">
        <i class="fa fa-question ood-last"></i>
        <h2>Learn More</h2>
        <p>What is this?</p>
      </a>
    </div>
  </div>

  <div class="ood-nav-spacer ood-mobile-hide"></div>

</header>
